@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
    font-family: 'Telegraf Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Telegraf Regular'), url('TelegrafRegular_272984568a25d8528fe2de8b20b29011.woff') format('woff');
}

@font-face {
  font-family: 'Poppins ExtraLight';
  src: url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Le Jour Serif';
  src: url('/fonts/Le Jour Serif Personal Use Only.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'The Seasons Italic';
  src: url('/fonts/TheSeasons-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('/fonts/GoogleSans-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* GLOBAL BASE */
html, body {
  background-color: white;
  margin: 0;
  overflow-x: clip; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none; 
}